ul, li {
  list-style-type: none;
  margin-left:-.5rem;
}
.doc,.open,.close
{
display:inline-block;
width:1rem;
height:1rem;
}
.doc
{
background-image:url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Icons8_flat_document.svg/512px-Icons8_flat_document.svg.png');
background-size: 1rem 1rem;
}
.open
{
background-image:url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/bf/Icons8_flat_opened_folder.svg/32px-Icons8_flat_opened_folder.svg.png');
background-size: 1rem 1rem;
}
.close
{
background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/Icons8_flat_folder.svg/32px-Icons8_flat_folder.svg.png');
background-size: 1rem 1rem;
}
