<ul class="tree" *ngIf="level==undefined">
  <ng-container *ngTemplateOutlet="tree">
  </ng-container>
</ul>
<ul *ngIf="level!=undefined">
  <ng-container *ngTemplateOutlet="tree">
  </ng-container>
</ul>

<ng-template #tree>
  <li *ngFor="let item of children">
    <div (click)="item.hasChildren && open(item)">
      <span [ngClass]="!item.hasChildren?'doc':item.isOpen?'open':'close'"></span>
      {{item.label}}{{item.loading}}
    </div>
    <app-tree-view-recursive *ngIf="item.children && item.isOpen" [children]="item.children" [parent]="self"
      [level]="level!=undefined?level+1:0" [search]="search">
    </app-tree-view-recursive>
  </li>
</ng-template>
